@model WebShopApp.Models.ShoppingCartModel
<link rel="stylesheet" href="~/css/shoppingCart-style.css" />
@{
    ViewData["Title"] = "Shopping Cart";
}

<partial name="_Banner-ShoppingCart" />


<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card card-registration card-registration-2 border-0">
          <div class="card-body p-0">
            <div class="row pt-100">
              <div class="col-lg-8">
                <div class="p-2">
                  

                  @*Product/Price/Quantity/Subtotal*@

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">                      
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="cart-titel">Product</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <p class="cart-titel-theme">Price</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <p class="cart-titel">Quantity</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="cart-titel">Subtotal</p>
                    </div>
                  </div>

                  <hr class="my-4" id="hr-cart">
       

        
                 @foreach(var item in Model.ShoppingCart)
                 {                                        

                  @*Product*@
                  

                  <div class="row mb-4 d-flex justify-content-between align-items-center">

                    @*Remove-btn*@
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a class="btn" 
                      asp-controller="ShoppingCart" asp-action="RemoveItemFromCart" asp-route-id="@item.Product.Id"><i class="fas fa-times"></i></a>
                    </div>

                    @*Product-pic-name*@
                    <div class="col-md-1 col-lg-1 col-xl-1">
                      <img
                        src="@item.Product.ImgUrl"
                        class="img-fluid rounded-3" alt="product-img">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">                      
                      <h6 class="text-black mb-0">@item.Product.Name</h6>
                    </div>

                    @*Price*@
                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <h6 class="mb-0">$@item.Product.PriceUSD</h6>
                    </div>

                    @*Amount-btns*@

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <a class="btn btn-link px-2 border btn-remove cart-quantity"
                        asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id">
                        <i class="fas fa-minus"></i>
                      </a>

                      <input id="item-quantity" min="0" name="quantity" value="@item.Quantity" type="number"
                        class="form-control form-control-sm rounded-0" />

                      <a class="btn btn-link px-2 border cart-quantity "
                        asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Product.Id">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>

                    @*Subtotal*@
                           @{
                                 var subtotal = @item.Quantity * @item.Product.PriceUSD;
                            }
                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="Cart-titel">$@subtotal</p>
                    </div>
                  </div>
                  <hr />

                    }              

                  <div class="col-md-2 col-lg-2 col-xl-2 text-end pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Update cart</a></h6>
                  </div>
                </div>
              </div>


                    @*CheckoutInfo*@

              <div class="col-lg-4 bg-grey">
                <div class="p-5">


                    <div class="d-flex justify-content-center py-3" id="title-cartTotals">
                        <h4 class="">CART TOTALS</h4>
                    </div>
                    
                    <div class="m-3">

                    <div class="d-flex justify-content-between mb-4">
                        <p class="bold">Subtotal</p>
                        <p>$@Model.TotalPrice</p>
                    </div>
                    <hr />
                    
                    <div class="d-flex justify-content-between mb-4">
                        <p class="bold">Shipping</p>
                        <p>Flat rate: <span class="theme-color bold">$20.00</span></p>
                    </div>
                    
                    <hr />
                    <div class="d-flex justify-content-between mb-4">
                        <p class="bold">TOTAL</p>
                                            @{
                                                var pricePlusShipping = @Model.TotalPrice + 20;

                                                if(pricePlusShipping.Equals(20))
                                                {
                                                    pricePlusShipping = 0;
                                                }
                                            }
                        <p>$@pricePlusShipping</p>
                    </div>

                    <a asp-controller="Checkout" asp-action="Index"
                    class="btn theme-bg text-white px-4 w-100 py-3" id="btn-to-checkout ">PROCEEED TO CHECKOUT</a>
                                      

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>