@model WebShopApp.Models.ShoppingCartModel
<link rel="stylesheet" href="~/css/shoppingCart-style.css" />
@{
    ViewData["Title"] = "ShoppingCart";
}

<partial name="_Banner-ShoppingCart" />

@Model.TotalPrice :-
@Model.TotalQuantity stycken

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2 border-0">
          <div class="card-body p-0">
            <div class="row ">
              <div class="col-lg-8">
                <div class="p-2">
                  

                  @*Product/Price/Quantity/Subtotal*@

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">                      
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="cart-titel">Product</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <p class="cart-titel-theme">Price</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <p class="cart-titel">Quantity</p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="cart-titel">Subtotal</p>
                    </div>
                  </div>

                  <hr class="my-4" id="hr-cart">
       

        
                 @foreach(var item in Model.ShoppingCart)
                 {                                        

                  @*Product*@
                  

                  <div class="row mb-4 d-flex justify-content-between align-items-center">

                    @*Remove-btn*@
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a class="btn" 
                      asp-controller="ShoppingCart" asp-action="RemoveItemFromCart" asp-route-id="@item.Product.Id"><i class="fas fa-times"></i></a>
                    </div>

                    @*Product-pic-name*@
                    <div class="col-md-1 col-lg-1 col-xl-1">
                      <img
                        src="@item.Product.ImgUrl"
                        class="img-fluid rounded-3" alt="product-img">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">                      
                      <h6 class="text-black mb-0">@item.Product.Name</h6>
                    </div>

                    @*Price*@
                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                      <h6 class="mb-0">$@item.Product.PriceUSD</h6>
                    </div>

                    @*Amount-btns*@

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <a class="btn btn-link px-2"
                        asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Product.Id">
                        <i class="fas fa-minus"></i>
                      </a>

                      <input id="item-quantity" min="0" name="quantity" value="@item.Quantity" type="number"
                        class="form-control form-control-sm" />

                      <a class="btn btn-link px-2"
                        asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Product.Id">
                        <i class="fas fa-plus"></i>
                      </a>
                    </div>

                    @*Subtotal*@
                           @{
                                 var subtotal = @item.Quantity * @item.Product.PriceUSD;
                            }
                    <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                      <p class="Cart-titel">@subtotal</p>
                    </div>
                  </div>

                    }
                    




                  <div class="col-md-2 col-lg-2 col-xl-2 text-end pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Update cart</a></h6>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items 3</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>€ 137.00</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Register</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>