@model List<ArrivalModel>
<link rel="stylesheet" href="~/css/section-new-arrival.css" />


<div class="container mt-5 mb-5">
    <h2 class="text-center">NEW <span class="accent-title-color">ARRIVALS</span></h2>
    <p class="text-center">Check out our latest products from top fashion designers</p>
    <div id="newsArrivalCarousel" class="carousel">
        @{
            var first = true;
        }
        <div class="carousel-inner">


            @for (var i = 0; i < Model.Count(); i = i + 3)
            {
                <div class="carousel-item @(first ? "active" :"")">
                    <div class="row m-0">

                        @for (var j = 0; j < 3 && i + j < Model.Count; j++)
                        {
                            <div class="col-4 p-0 text-center">
                                <div class="card product-item" data-url="@Url.Action("Category", "ShopPage", new {id = Model[i+j].Id})">
                                    <img src="@Model[i+j].ImgUrl" class="card-img-top col img-fluid" alt="" height="300">


                                    <div class="@(Model[i+j].DiscountPrice < @Model[i+j].Price ? "sales" : "d-none") circle-info hot d-flex flex-column">
                                        @{

                                            int percentagedecrease = (int)(((Model[i + j].Price - Model[i + j].DiscountPrice) / Model[i + j].Price) * 100);
                                        }


                                        <span class="my-auto">@percentagedecrease %</span>
                                    </div>

                                    <div class="@(Model[i+j].HotSale ? "hot" : "d-none") circle-info hot d-flex flex-column">
                                        <span class="my-auto">HOT</span>
                                    </div>

                                    <div class="card-body text-light text-start d-flex flex-column">
                                        <div class="mt-auto">
                                            <h5>@Model[i+j].Name</h5>

                                            <div class="extra-info">
                                                <p>@Model[i+j].Category</p>
                                                <p class="@(@Model[i+j].DiscountPrice < @Model[i+j].Price ? "text-decoration-line-through" :"d-none")">@Model[i+j].Price</p>
                                                <p class="price-text">@(@Model[i+j].DiscountPrice > 0 ? @Model[i+j].DiscountPrice: @Model[i+j].Price)</p>

                                                <div class="quick-menu">
                                                    <a class="btn btn-ligth add-to-cart" asp-controller="ShopPage" asp-action="AddToCart" asp-route-id="@Model[i+j].Id">
                                                        <i class="fa-solid fa-cart-plus"></i>
                                                    </a>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            first = false;
                        }
                    </div>
                </div>
            }


        </div>
        <a class="carousel-control-prev" href="#newsArrivalCarousel" role="button" data-slide="prev" data-bs-target="#newsArrivalCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#newsArrivalCarousel" role="button" data-slide="next" data-bs-target="#newsArrivalCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<script>
    $(document).ready(init);

    function init(){
        registerProductClickEvent();
        registerAddToCartClickEvent();
    }

    function registerProductClickEvent(){
        $(".product-item").on("click", onProductClicked)
    }

    function onProductClicked(){
        const url = $(this).data("url");
        window.location = url;
        return false;
    }

    function registerAddToCartClickEvent(){
        $(".add-to-cart").on("click", addToCartClicked);
    }
    function addToCartClicked(event){
        event.stopPropagation();
        return true;
    }
</script>